<a href="https://colab.research.google.com/github/Miokasa/MLC/blob/master/597mlcWH4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

You are working as a data analyst for a logistics company. The company has provided you with synthetic data representing delivery times (in minutes) and package weights (in kilograms) for 100 deliveries. Your goal is to analyze this data using NumPy and provide insights.

Key columns include:
 User_ID: Unique identifier for each customer.
  Product_ID: Unique identifier for each product.
  Gender: Customer gender (M or F).
  Age: Age group (for example, 0-17, 18-25, 26-35, etc.).
  City_Category: Type of city (A, B, or C).
 Stay_In_Current_City_Years: How long the customer has stayed in the current
city.
 Marital_Status: Marital status of the customer (0 for unmarried, 1 for married).
 Product_Category_1, Product_Category_2, Product_Category_3: Categories of
the products purchased.
 Purchase: Purchase amount.

In [186]:
from google.colab import drive
drive.mount('/content/drive')

file_path = '/content/drive/MyDrive/MLC/blackfriady.csv.zip'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [187]:
import pandas as pd

Part 1: Data Cleaning and Preparation

1. Load the dataset into a Pandas DataFrame and inspect its structure (look at column names, data types, and missing values).
2. Handle missing values appropriately by either filling them or dropping rows/columns if necessary.
3. Convert categorical columns (such as Gender, Age, and City_Category) into appropriate types.

In [188]:
df=pd.read_csv(file_path)
df.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [189]:
print(df.columns) #column names
print(df.dtypes) #data dtypes
df.info #data information

Index(['User_ID', 'Product_ID', 'Gender', 'Age', 'Occupation', 'City_Category',
       'Stay_In_Current_City_Years', 'Marital_Status', 'Product_Category_1',
       'Product_Category_2', 'Product_Category_3', 'Purchase'],
      dtype='object')
User_ID                         int64
Product_ID                     object
Gender                         object
Age                            object
Occupation                      int64
City_Category                  object
Stay_In_Current_City_Years     object
Marital_Status                  int64
Product_Category_1              int64
Product_Category_2            float64
Product_Category_3            float64
Purchase                        int64
dtype: object

<bound method DataFrame.info of         User_ID Product_ID Gender    Age  Occupation City_Category  \
0       1000001  P00069042      F   0-17          10             A
1       1000001  P00248942      F   0-17          10             A
2       1000001  P00087842      F   0-17          10             A
3       1000001  P00085442      F   0-17          10             A
4       1000002  P00285442      M    55+          16             C
...         ...        ...    ...    ...         ...           ...
550063  1006033  P00372445      M  51-55          13             B
550064  1006035  P00375436      F  26-35           1             C
550065  1006036  P00375436      F  26-35          15             B
550066  1006038  P00375436      F    55+           1             C
550067  1006039  P00371644      F  46-50           0             B

       Stay_In_Current_City_Years  Marital_Status  Product_Category_1  \
0                               2               0                   3
1                               2               0                   1
2                               2               0                  12
3                               2               0                  12
4                              4+               0                   8
...                           ...             ...                 ...
550063                          1               1                  20
550064                          3               0                  20
550065                         4+               1                  20
550066                          2               0                  20
550067                         4+               1                  20

        Product_Category_2  Product_Category_3  Purchase
0                      NaN                 NaN      8370
1                      6.0                14.0     15200
2                      NaN                 NaN      1422
3                     14.0                 NaN      1057
4                      NaN                 NaN      7969
...                    ...                 ...       ...
550063                 NaN                 NaN       368
550064                 NaN                 NaN       371
550065                 NaN                 NaN       137
550066                 NaN                 NaN       365
550067                 NaN                 NaN       490

[550068 rows x 12 columns]>

In [190]:
df[df.isna().any(axis=1)] #list all the rows with nan value

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969
5,1000003,P00193542,M,26-35,15,A,3,0,1,2.0,NaN,15227
...,...,...,...,...,...,...,...,...,...,...,...,...
550063,1006033,P00372445,M,51-55,13,B,1,1,20,NaN,NaN,368
550064,1006035,P00375436,F,26-35,1,C,3,0,20,NaN,NaN,371
550065,1006036,P00375436,F,26-35,15,B,4+,1,20,NaN,NaN,137
550066,1006038,P00375436,F,55+,1,C,2,0,20,NaN,NaN,365
550067,1006039,P00371644,F,46-50,0,B,4+,1,20,NaN,NaN,490

In [191]:
df.isna().sum() #find which column has nan value and then deal with nan values

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2            173638
Product_Category_3            383247
Purchase                           0
dtype: int64

In [192]:
print(df['Product_Category_2'].sort_values().unique()) #find which values do the columns have
print(df['Product_Category_3'].sort_values().unique())

[ 2.  3.  4.  5.  6.  7.  8.  9. 10. 11. 12. 13. 14. 15. 16. 17. 18. nan]
[ 3.  4.  5.  6.  8.  9. 10. 11. 12. 13. 14. 15. 16. 17. 18. nan]

In [193]:
print(df['Product_Category_3'].mode()) #chooing and comparing mode or mean value to substitude nan value
print(df['Product_Category_3'].mean())

0    16.0
Name: Product_Category_3, dtype: float64
12.668243206790512

In [194]:
df['Product_Category_2'] = df['Product_Category_2'].fillna(df['Product_Category_2'].mode())
df['Product_Category_3'] = df['Product_Category_3'].fillna(df['Product_Category_3'].mode())

In [195]:
df['Product_ID'] = df['Product_ID'].astype('category') # Convert categorical columns into 'Category' due to there are a lot of repeated value, better than string.
df['Gender'] = df['Gender'].astype('category')
df['Age'] = df['Age'].astype('category')
df['City_Category'] = df['City_Category'].astype('category')
df['Stay_In_Current_City_Years'] = df['Stay_In_Current_City_Years'].astype('category')

In [196]:
print(df.dtypes)
df.head()

User_ID                          int64
Product_ID                    category
Gender                        category
Age                           category
Occupation                       int64
City_Category                 category
Stay_In_Current_City_Years    category
Marital_Status                   int64
Product_Category_1               int64
Product_Category_2             float64
Product_Category_3             float64
Purchase                         int64
dtype: object

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,8.0,16.0,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

Part 2: Exploratory Data Analysis (EDA)

1. Calculate basic statistics (mean, median, standard deviation) for the Purchase column.
2. Compare the average purchase amount across different age groups.
3. Identify which City_Category has the highest total purchases.

In [197]:
df_mean=df['Purchase'].mean().round(2)
df_median=round(df['Purchase'].median(),2)
df_sd=round(df['Purchase'].std(),2)
print(f'mean:{df_mean}, median:{df_median}, standard deviation:{df_sd}')

mean:9263.97, median:8047.0, standard deviation:5023.07

In [198]:
df['Purchase'].describe() #just find can use this method more quickly

count    550068.000000
mean       9263.968713
std        5023.065394
min          12.000000
25%        5823.000000
50%        8047.000000
75%       12054.000000
max       23961.000000
Name: Purchase, dtype: float64

In [199]:
age_group_purchases = df.groupby('Age')['Purchase'].mean()
age_group_purchases

<ipython-input-199-065a54478a96>:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  age_group_purchases = df.groupby('Age')['Purchase'].mean()

Age
0-17     8933.464640
18-25    9169.663606
26-35    9252.690633
36-45    9331.350695
46-50    9208.625697
51-55    9534.808031
55+      9336.280459
Name: Purchase, dtype: float64

In [200]:
city_category_purchases=df.groupby('City_Category')['Purchase'].sum().sort_values()[-1:]
city_category_purchases

<ipython-input-200-fab9b20d5b5a>:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  city_category_purchases=df.groupby('City_Category')['Purchase'].sum().sort_values()[-1:]

City_Category
B    2115533605
Name: Purchase, dtype: int64

In [201]:
print('The City_Category B has the highest total purchases.')

The City_Category B has the highest total purchases.

Part 3: Grouping and Aggregation

1. Group the data by Gender and compute:


*   Total purchase amount for each gender.
*   Average purchase amount for each gender.
2. Group the data by Age and calculate the total purchase amount for each age group.

In [202]:
gender_purchase=df.groupby('Gender')['Purchase'].agg(['sum', 'mean'])
gender_purchase

<ipython-input-202-2da5f7bcfc2a>:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  gender_purchase=df.groupby('Gender')['Purchase'].agg(['sum', 'mean'])

               sum         mean
Gender
F       1186232642  8734.565765
M       3909580100  9437.526040

In [203]:
age_purchase=df.groupby('Age')['Purchase'].sum()
age_purchase

<ipython-input-203-2ed56e0caefa>:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  age_purchase=df.groupby('Age')['Purchase'].sum()

Age
0-17      134913183
18-25     913848675
26-35    2031770578
36-45    1026569884
46-50     420843403
51-55     367099644
55+       200767375
Name: Purchase, dtype: int64

Part 4: Insights

1. Investigate whether marital status affects spending habits by comparing average purchase amounts for married (Marital_Status = 1) versus unmarried (Marital_Status = 0) customers.
2. Identify the top three product categories (using Product_Category_1) based on total purchase amount.

In [207]:
marital_status=df.groupby('Marital_Status')['Purchase'].mean()# Compare marriage status for  purchase amounts
marital_status

Marital_Status
0    9265.907619
1    9261.174574
Name: Purchase, dtype: float64

In [208]:
print('There is no difference between marrige status.')

There is no difference between marrige status.

In [205]:
# Calculate total purchase amount and sort values, count from the last are the biggest one and sort the index to make purchase nnumber from big to samll.
category_1=df.groupby('Product_Category_1')['Purchase'].sum().sort_values()[-3:].sort_index()
category_1

Product_Category_1
1    1910013754
5     941835229
8     854318799
Name: Purchase, dtype: int64

In [206]:
print("The top three product categories are 1,5,8")

The top three product categories are 1,5,8